
  <!--Navbar-->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://amishraj.github.io/airthinnotes/">AirThin Notes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="openModal(template)" href="#">Create <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="openAboutModal(abouttemplate)" href="#">About</a>
      </li>
    </ul>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<!--Navbar End-->


<!--Notes-->

<div class="container">
  <div class="row">
    <app-notes
    *ngFor="let note of allnotes"
    [nElement]="note"
    (noteDelete)="onNoteDeleted($event)"
    ></app-notes>
  </div>
</div>

<!--Notes End-->

<!--Home Screen-->

<div class="container" *ngIf="lookingempty" style="margin-bottom: 55px;">
  <br>
  <h1  class="card-title d-flex justify-content-center">Welcome to AirThin Notes</h1>
  <h6 class="card-subtitle  d-flex justify-content-center text-muted">
    Looking a little empty there! Click on Create to Get Started.</h6>

</div>
<div class="container" *ngIf="lookingempty">

  <div class="container">
    <div class="container d-flex justify-content-center">
  <div class="card w-50 text-center">
    <div class="card-header">
      What is AirThin Notes?
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">AirThin Notes is a lightweight WebApp that lets you take notes. <br>
        No shenanigans, Minimal and Fast. <br>
      The Best Part? Your notes won't disappear, whether you close your window or your browser itself.         
      </p>
      <!-- <a href="#" class="btn btn-dark btn-small">Developed by Amish Raj</a> -->
    </div>
    <div class="card-footer text-muted">
    Developed by Amish Raj
    </div>
  </div>
</div>
</div>

</div>

<!--Home Screen End-->
 
<!--New Note Modal-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Note</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="titlenote">Title</label>
        <input type="text" class="form-control" id="titlenote" placeholder="Title" #noteTitleInput>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea placeholder="Start writing..." class="form-control" id="exampleFormControlTextarea1" rows="3" #noteDescriptionInput></textarea>
      </div>
      <div class="container row">
        <button type="button" class="btn btn-primary" (click)="onAddNote(noteTitleInput, noteDescriptionInput)">Submit</button> &nbsp;
        <button type="button"  (click)="modalRef.hide()" class="btn btn-danger">Cancel</button>
      </div>
    </form>
   
  </div>
</ng-template>

<!--About Modal-->

<ng-template #abouttemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">About AirThin Notes</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="aboutModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">

        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text"> <b> AirThin Notes </b> is a <b> Lightweight </b> WebApp that lets you take notes. <br>
          No shenanigans,<b> Minimal </b> and <b> Fast </b>. <br> <br>
        The Best Part? Your notes won't disappear, whether you close your window or your browser itself.      <br>
        
      <br>  Built using <b> Angular 9 </b> & <b>Bootstrap 4</b>
        </p>
        <!-- <a href="#" class="btn btn-dark btn-small">Developed by Amish Raj</a> -->
      
      <div class="card-footer text-muted">
      Developed by Amish Raj
      </div>
    
   
  </div>
</ng-template>